@page "/"

<div class="d-flex my-5">
    <div class="d-flex flex-column mr-4">
        <img src="/images/home/1.png" alt="Photo" style="width: 150px; height: 150px; margin-bottom: 10px; margin-right: 10px;" />
        <img src="/images/home/2.png" alt="Photo" style="width: 150px; height: 150px; margin-bottom: 10px;" />
        <img src="/images/home/3.png" alt="Photo" style="width: 150px; height: 150px; margin-bottom: 10px;" />
        <img src="/images/home/4.png" alt="Photo" style="width: 150px; height: 150px; margin-bottom: 10px;" />
    </div>

    <div class="text-left">
        <h3 class="text-primary font-weight-bold text-center">
            Lorem Ipsum Linguarum Communitatem! Liberum ad conectum!
        </h3>

        <div class="my-4">
            <h5 class="text-secondary mb-3">Lorem Ipsum ad Linguae Commutatio</h5>
            <p class="lead" style="font-size: 15px;">
                Lorem ipsum ad nostram vibrantem linguarum commutationis communitatem! In lorem ipsum, connectere cum linguarum enthusiasmatibus est non solum facilis sed etiam liberum. Immergere ipsum in varia communitate ubi lorem ipsum et communicare linguas est in corde cujusque interactionis.
            </p>
        </div>

        <div class="my-4">
            <h5 class="text-secondary mb-3">Lorem Ipsum Linguae Discendi Iter</h5>
            <p class="lead" style="font-size: 15px;">
                Lorem ipsum in personalizatum linguarum discendi iter tailored to lorem ipsum preference. Lorem ipsum sis initium faciens sive discipulus proficiens, nostra communitas offerat resursos et sustentationem quas desideras. Connectere cum sociis lingua, participare in engaging conversationibus, et watch your lorem ipsum skills flourish.
            </p>
        </div>

        <div class="my-4">
            <h5 class="text-secondary mb-3">Quomodo Operatur Lorem Ipsum</h5>
            <div>
                <div>
                    <span>Step 1 - Creare rationem.</span>
                </div>
                <div>
                    <span>Step 2 - Quaerere socium conversationis: search by lorem ipsum, level, location.</span>
                </div>
                <div>
                    <span>Step 3 - Lorem ipsum loqui: Elige modum communicandi (WhatsApp, Zoom, Teams, Google Meet), et start the conversation.</span>
                </div>
            </div>
        </div>

        <div class="my-4">
            <h5 class="text-secondary mb-3">Lorem Ipsum Grada</h5>
            <div>
                <div>
                    <span>Level 1: Lorem ipsum Level 1 corresponds to basic lorem ipsum qui possunt understand et uti familiaribus .</span>
                </div>
                <div>
                    <span>Level 2: Lorem ipsum Level 2 corresponds to those lorem ipsum qui possunt</span>
                </div>
                <div>
                    <span>Level 3 (Intermediate): Lorem ipsum Level 3 corresponds to lorem ipsum qui possunt .</span>
                </div>
                <div>
                    <span>Level 4: Lorem ipsum corresponds to lorem ipsum qui possunt produce clear.</span>
                </div>
                <div>
                    <span>Level 5: Lorem ipsum 5 corresponds to lorem ipsum qui possunt</span>
                </div>
                <div>
                    <span>6 (Proficient): Lorem ipsum 6 corresponds to lorem ipsum, qui possunt understand et.</span>
                </div>
            </div>
        </div>

    </div>
</div>
